* {
  margin: 0;
}

html, body {
	height: 400px
	padding: 0px;
	margin-bottom: 6px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	background-image: linear-gradient(-180deg, #CCEBEE 0%, #9CD1D7 100%);
}

#wrap {
	min-width: 320px;
}

.header {
	margin: 6px;
	text-align: center;
	position: relative;
}

.header span {
	margin: 12px;
	font-size: 18px;
}

#options {
	outline: 0;
	margin: 3px;
	position:absolute;
	right:0;
}

#options .fa-cog {
  	color: black;
}

.toggle-wrap {
	text-align: center;
	margin: 20px;
}

.toggle-wrap a {
	 
}

.toggle-wrap a img {
	width: 80px;
	height: 80px;
}

#alert {
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}

.phraseList {
	display: table;
	border-collapse: separate;
	border-spacing: 10px;
}


.phraseGroup {
	display: table-row;
	position: relative;
	margin-bottom: 10px;
}

.phraseGroup .col1 {
	width: 46%;
	display: inline;
	display: table-cell;
	padding: 10px 6px;
	background: #F3F3F3;
	border: 1px solid #000000;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.50);
	border-radius: 5px;
	font-size: 14px;
	color: #000000;
	opacity: 0.8;
}

.phraseGroup .padding {
	display: table-cell;
    width: auto;
}

.phraseGroup .col2 {
	width: 46%;
	display: inline;
	display: table-cell;
	padding: 10px 6px;
	background: #F3F3F3;
	border: 1px solid #000000;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.50);
	border-radius: 5px;
	font-size: 14px;
	color: #000000;
	opacity: 0.8;
}


