* {
  margin: 0;
}

html, body {
	height: 400px
	padding: 0px;
	margin-bottom: 6px;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 13px;
	background: #F3F3F3;
}

#wrap {
	min-width: 260px;
}

.header {
	margin: 6px;
	text-align: center;
	position: relative;
}

.header span {
	margin: 12px;
	font-size: 18px;
}

#options {
	outline: 0;
	margin: 3px;
	position:absolute;
	right:0;
}

#options .fa-cog {
  	color: black;
}

.toggle-wrap {
	text-align: center;
	margin: 20px;
}

.toggle-wrap a {
	 
}

.toggle-wrap a img {
	width: 80px;
	height: 80px;
}

#alert {
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}

.phraseList {
	display: table;
	border-collapse: separate;
	border-spacing: 10px;
}


.phraseGroup {
	display: table-row;
	position: relative;
	margin-bottom: 10px;
}

.phraseGroup .col1 {
	max-width: 46%;
	display: inline;
	display: table-cell;
	padding: 4px 6px;
	background: #BBE7A7;
	color: #000000;
	border-radius: 5px;
	font-size: 14px;
}

.phraseGroup .padding {
	display: table-cell;
    width: auto;
}

.phraseGroup .col2 {
	max-width: 46%;
	display: inline;
	display: table-cell;

	padding: 4px 6px;
	background: #A7C7E7;
	color: #000000;
	border-radius: 5px;
	font-size: 14px;
}


