html, body {
	height: 400px
	padding: 0;
	margin: 0;
	font-family: 'F Grotesk Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #F0F0F0;
}

#wrap {
	min-width: 246px;
}

/*select {
	-webkit-appearance:none;
	outline: none;
	border: 0px;
	font-size: 16px;
}
*/
.translate-all-wrap {
	position: relative;
	margin: 12px auto 16px;
	width: 126px;
	height: 30px;	
	background: #FFFFFF;
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.15);
}

.translate-all {
	display: inline-block;
	font-size: 14px;
	color: #5F5F5F;
	margin: 6px 13px 7px;
}

.translate-all i {
	margin-right: 8px;
}

.translate-all-wrap:hover {
	cursor: pointer;
}

.phraseList {
	margin: 0 24px 32px;
}

.phraseGroup {
	position: relative;
	margin-bottom: 10px;
	background: #FFFFFF;
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.15);
}

.marker {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 34px;
	background: #00A5FF;
}

.row1, .row2 {
	display: inline-block;
	padding: 8px 24px 10px;
}

hr { 
	background-color: #EEF4F8;
	height: 2px;
	border: 0;
	margin: 0;
}
